#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#display {
  margin: 0 auto;
  font-size: 20px;
  height: 50px;
  position: relative;
  top: 60px;
}

#volume {
  position: relative;
  top: 85px;
}

.drum-pad{
  box-shadow: 5px 3px 3px grey;
  margin: 5px;
  height: 100px;
  width: 100px
 
}
.drum-pad:active{
  box-shadow: none;
  transform: translate(5px, 3px);
}

h1{
  font-family: monospace;
  font-style: italic;
}

.bank {
  position: relative;
  top: 120px;
}

#a{
  box-shadow: none;
  background-color: #0045ab;
}

